<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>

    <p><%= name %> <%= stock %> closed at $<%= price %></p>

  </body>
</html>
